
  <%= content_tag :div, class: card_size do %>
    <%= link_to post_path(post) do %>
    <div class="card-image">
        <%= image_tag post.image_url(size), class:"responsive-img" %>
    </div>
    <% end %>
    <div class="card-content">
          <p><%= post.caption %></p>
           <p class="grey-text "> <%= post.user.email %></p>
          <p class="grey-text ">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
 
    <div class="card-action">
     <%= link_to  edit_post_path(post), class: "btn-floating btn-large waves-effect waves-light" do %> <%= content_tag(:i , "edit", class:"tiny material-icons")%> <% end %> <%= link_to post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "btn-floating btn-large waves-effect waves-light" do %><%= content_tag(:i , "delete", class:"tiny material-icons")%> <% end %>
    </div>


<% end %>
 